html,body {
    
	background: linear-gradient(45deg, #c4c3ff, #ffffff);
	width: 100%;
	height: 100%;
	margin:0px;
	padding:0px;
}

#albumpic {
	height: 80%;
	margin: 40px 60px; 
	position: relative;
	float:left;
}


#top {
      
	width: 100%;
	height: 40%;
	position: relative;
	margin:0;
	padding:0;
	float:left;
}

#bottom_left {
 	width: 40%;
	height: 60%;
	position: relative;
	margin-top: 40%;
	margin:0;
	padding:0;
	float:left;
}
#bottom_right {
 	width: 60%;
	height: 60%;
	position: relative;
	margin-top: 40%;
	margin:0;
	padding:0;
	float:right;
	
}

#text1 {
    font-size: 24px;
	position: relative;
	margin-top:60px;
}


h1 {
    font-size: 62px;
	position: relative;
	margin-top:-20px;
	font-family: Arial;
}

#notes {
    position: relative;
	height:36px;
}

#pic2 {
 	position: relative;
	height: 100%;
	float:left;
	top:0px;
}

#text3 {
    font-size: 18px;
	position: relative;
	top:20%;
	left:10px;
}

.numlist {
	
	border-radius: 30px;
    width:30px;
	height:30px;
    position: relative;
	border: 2px solid white;
	float:left;
	text-align: center;
	left:0%;
	margin-left:0px;
	top:50%;
	margin-top:-17px;
}

h5 {
	position: relative;
	top:50%;
	margin-top:-7px;
	color:white;
}

.tracklist {
	margin-top:10px;
	margin-left:60px;
	left:0px;
	height:50px;
	width:300px;
	position: relative;
	float:left;
}

#text4 {
	position: relative;
	left:45px;
	top:-7px;
	font-family: Calibri;
	font-size: 22px;
}




